// variables file

$font-noto: "Noto Sans KR", sans-serif;

$font-source: "Source Sans Pro", sans-serif;

$font-ubuntu: "Ubuntu", sans-serif;

$color-primary:#000000;
$color-secondary:#FDFDFD;
$color-red:#e60000;
$color-gray: #C8C8C8;